[submodule "Efi/Apps/Network"]
	path = Efi/Apps/Network
	url = https://github.com/EfiPy/Netowrk.git
[submodule "Efi/Apps/SimpleFileRemoteCopy"]
	path = Efi/Apps/SimpleFileRemoteCopy
	url = https://github.com/EfiPy/SimpleFileRemoteCopy.git
